.word-spacing-xs {
	word-spacing: -0.5em;
}

.word-spacing-sm {
	word-spacing: -0.25em;
}

.word-spacing-md {
	word-spacing: 0em;
}

.word-spacing-lg {
	word-spacing: 0.5em;
}

.word-spacing-xl {
	word-spacing: 0.75em;
}
