---
import BackgroundGrid from "@/components/BackgroundGrid.astro";
import Layout from "@/layout.astro";
---

<Layout>
  <div
    class="z-[-1] fixed top-0 left-0 flex w-screen h-screen bg-neutral-950 text-foreground p-0 m-0 align-center justify-center"
  >
    <BackgroundGrid boxSize="200px" />
  </div>
</Layout>
