---
const { class: className } = Astro.props;
---

<div id="container" class={className}></div>

<style>
  #container {
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  }
</style>
